/*_____________________________*/
/*_____________________________*/
/*          PRINCIPAL          */
/*_____________________________*/
/*_____________________________*/

/* BUTON FILTRE */

.testFiltre
{
    width: fit-content;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: #e0e0e0 45px solid;
    border: 2px #e0e0e0 solid;
    border-radius: 45px;
    margin: 10px;
}

.testFiltre:hover
{
    cursor: pointer;
    color: #0065FC;
    background: #DEEBFF;
    border-radius: #DEEBFF 45px solid;
    border: 2px #DEEBFF solid;
}

.testFiltreIcon
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    border: 2px #DEEBFF solid;
    margin: -2px;
}

.testFiltreText
{
    font-weight: bold;
    padding: 0 15px;
}

/* 
CHECKER BACKGROUND CODE

background-color: grey;
border: red 3px solid;
*/

html
{
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
}

header, body
{
    background-color: #FFFFFF;
}

header, main, footer
{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/*_____________________________*/
/*_____________________________*/
/* GESTION DES TEXTES & TITRES */
/*_____________________________*/
/*_____________________________*/


p, a
{
    color: black;
    font-size: 16px;
}

.recherche p
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
}

h2.recherche
{
    font-size: ;
}

h2
{
    margin: 0;
}

h3
{
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.vignetteGalerie h3
{
    padding: 15px 0 0 15px;
}

.marginZero
{
    margin: 0;
}

.marginLine
{
    margin-bottom: 25px;
}

.marginLineMid
{
    margin-bottom: 15px;
}

.marginBr
{
    margin-top: 50px;
}

.marginBrMid
{
    margin-top: 50px;
}

.paddingSpace
{
    padding: 0 20px 0 0;
}

.paddingSides
{
    padding: 10px;
}

.fontBold
{
    font-weight: bold;
}

.linkBlue:hover
{
    color: #0065FC;
}

/*_____________________________*/
/*_____________________________*/
/*          DESKTOP 1ST        */
/*      SECTION HEBERGEMENT    */
/*_____________________________*/
/*_____________________________*/

#hebergement
{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hebergementResult
{
    width: 75%;
    padding: 40px;
    display: flex;
    flex-flow: column wrap;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.sectionTitle
{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowPop
{
    border-left: 3px black solid;
    border-bottom: 3px black solid;
    padding: 1px;
}

.sectionGallery
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.galleryCard
{
    width: 31%;
    padding: 3px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #afafaf 0 1px 10px;
    display: flex;
    flex-flow: column wrap;
}

.galleryCard:hover
{
    box-shadow: 0 1px 10px #0065FC;
    color: #0065fc;
    cursor: pointer;
}

.cardPicture
{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cardDescription
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardDescription p
{
    font-size: 15px;
    margin: 10px 0;
}

.cardDescription h3
{
    font-size: 17px;
}

.sectionText
{
    margin: 10px 0;
}

.sectionText a
{
    font-size: 19px;
}

.hebergementRecommand
{
    width: 35%;
    margin-left: 40px;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
}

.sectionGalleryPop
{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.galleryCardPop
{
    padding: 3px;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #afafaf 0 1px 10px;
}

.galleryCardPop:hover
{
    box-shadow: 0 1px 10px #0065FC;
    color: #0065fc;
    cursor: pointer;
}

div.cardPicturePop
{
    height: 140px;
}

img.cardPicturePop
{
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.cardDescriptionPop
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardDescriptionPop p
{
    font-size: 15px;
    margin: 10px 0;
}

.cardDescriptionPop h3
{
    font-size: 17px;
}



/*_____________________________*/
/*_____________________________*/
/*          HEADER             */
/*_____________________________*/
/*_____________________________*/

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    height: 52px;
}

#logo
{
    width: 120px;
}

nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
}

.navButton
{
    height: 20px;
    width: 150px;
    padding: 15px 5px;
    text-align: center;
}

li.navButton:hover
{
    border-top: #0065FC 2px solid;
}

/*_____________________________*/
/*_____________________________*/
/*      SECTION RECHERCHE      */
/*_____________________________*/
/*_____________________________*/

#recherche
{
    margin: 30px 15px;
}

/* SEARCH BAR */

.search
{
    display: flex;
    justify-content: left;
    align-items: center;
}

.searchBar
{
    font-family: 'Raleway', sans-serif;
    padding: 0 5px 0 5px;
}

.iconMap
{
    border: #F2F2F2 2px solid;
    background-color: #F2F2F2;
    padding: 15px 15px 15px 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}

.searchMap
{

    border-top: 1px #F2F2F2;
    border-bottom: 1px#F2F2F2;
    padding: 15px 0px 15px 0px;
    font: bold;
}

input
{
    border: none;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    padding: 15px 0px 15px 5px;
    font-weight: bold;
    font-size: 16px;
}

.buttonSearch
{
    background-color: #0065FC;
    border: #0065FC 2px solid;
    color: #F2F2F2;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttonSearch i
{
    display: none;
}

.iconHidden
{
    display: none;
}

.textHidden
{
    display: contents;
}

/* Infobulle */

.infobulle
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.infobulleIcon
{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.buttonInfoBulle
{
    border: 2px #F2F2F2 solid;
    background-color: #FFFFFF;
    height: 20px; 
    width: 20px;
    border-radius:50px;
    padding: 2px 0 0 0;
}

.BlueInfobulle
{
    color: #0065FC;
    text-align: center;
    padding: 3px;
}


/*_____________________________*/
/*_____________________________*/
/*          FILTRES            */
/*_____________________________*/
/*_____________________________*/

/* BUTON FILTRE */
.testFiltre
{
    width: fit-content;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: #e0e0e0 45px solid;
    border: 2px #e0e0e0 solid;
    border-radius: 45px;
    margin: 10px 10px 10px 0;
}

.testFiltre:hover
{
    cursor: pointer;
    color: #0065FC;
    background: #DEEBFF;
    border-radius: #DEEBFF 45px solid;
    border: 2px #DEEBFF solid;
}

.testFiltreIcon
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    border: 2px #DEEBFF solid;
    margin: -2px;
}

.testFiltreText
{
    font-weight: bold;
    padding: 0 10px;
}
/* END FILTRE */

.filters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
}

.filtersZone
{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

/*_____________________________*/
/*_____________________________*/
/*      SECTION HEBERGEMENT    */
/*_____________________________*/
/*_____________________________*/

#hebergements
{
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

.hebergements
{
    width: 95%;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.popularity
{
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-left: 40px;
}
.arrowPosition
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}



.description
{
    padding: 5px 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.descriptionText
{
    width: 100%;
    padding: 11px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.galerie
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.vignettes
{
    width: 31%;
    min-width: 206px;
    height: 225px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    box-shadow: 0 1px 10px #afafaf;
}

.vignettes:hover
{
    box-shadow: 0 1px 10px #0065FC;
    color: #0065fc;
    cursor: pointer;
}

.imgVignettes
{
    border-radius: 20px 20px 0 0;
    height: 120px;
    padding: 5px;
    object-fit: cover;
}

.galerieColumn
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    min-width: 290px;
}

.vignettesColumn
{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 1px 10px #afafaf;
}

.vignettesColumn:hover
{
    box-shadow: 0 1px 10px #0065FC;
    color: #0065fc;
    cursor: pointer;
}

.imgVignettesColumn
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 4px;
    width: 65%;
    height: 130px;
    object-fit: cover;
}


.textVignettes
{
    padding: 8px 0;
    margin: 0;
    font-size: 14px;
}

a.linkSet
{
    font-weight: bold;
    padding: 0 15px;
}

.switchBlue
{
    color: #0065FC;
}

.switchGrey
{
    color: #e0e0e0;
}

/*_____________________________*/
/*_____________________________*/
/*      SECTION ACTIVITES      */
/*_____________________________*/
/*_____________________________*/

#activities
{
    margin: 0 25px;
}

.activities
{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 50px;
}


.galerieActivities
{   
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.columnGalerie
{   
    display: flex;
    flex-direction: column;
}

.columnSplitGalerie
{
    height: 50%;
}

.vignetteGalerie
{
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 10px #afafaf;
}

img.activitesImg
{
    height: 92%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

img.activitesImgSmall
{
    height: 84%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.marginTop
{
    margin-top: 25px;
}

.marginRight
{
    
    margin-right: 25px;
}

/*_____________________________*/
/*_____________________________*/
/*      SECTION FOOTER         */
/*_____________________________*/
/*_____________________________*/

footer
{
    background-color: #F2F2F2;
    padding: 2%;
}

.footerContainer
{
    width: 95%;
    display: flex;
}

.footerElement
{
    width: 35%;
    margin-right: 10%;
}

.footerUl
{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 22px 0 0 0;
}

.footerLi
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.footerNoPadding
{
    padding: 0;
}

.footerLink:hover
{
    color: #0065FC;
}

/* ____________________ */
/* ==================== */
/*   RESPONSIVE MOBILE  */
/* ==================== */
/* ____________________ */


@media screen and (max-width: 768px)
{
    html, body
    {
        width: 100%;
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }

    /* Header mobile */

    nav
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin: 0;
    }

    nav ul 
    {
        justify-content: space-between;
    }

    
    .navBar
    {
        width: 100%;
        padding: 0;

    }

    li.navButton
    {
        border-bottom: #F2F2F2 2px solid;
        width: 100%;
    }

    li.navButton:hover
    {
        border-top: none;
        border-bottom: #0065FC 2px solid;
    }

    li.navButton:focus
    {
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
    }

    h2
    {
        margin: 25px 0;
    }


    /* _____FILTRES MOBILES_____*/

    .filters
    {
        margin: 0 0 25px 0;
    }

        .alignFilters
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 25px 0 25px;
        cursor: pointer;
    }

    /* SWITCH RECHERCHE TEXTE TO ICON */

    .buttonSearch i
    {
        display: block;
    }

    .textHidden
    {
        display: none;
    }

    /* --- MAIN MOBILE --- */

    .recherche
    {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        
    }

    .hebergements
    {
        width: 100%;
        border-radius: 0;
        background-color: #FFFFFF;
    }

    .popularity
    {
        width: 100%;
        margin: 0;
        background: #F2F2F2;
        border-radius: 0;
    }

    

    /* SECTION HEBERGEMENT */

    .galerie
    {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .galerieColumn
    {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .vignettesColumn
    {
        width: 90%;
    }

    .vignettes
    {
        width: 100%;
        height: auto;
    }

    img.imgVignettes
    {
        height: 175px;
        object-fit: cover;
        object-position: center right;
    }

    p.textVignettes
    {
        padding-top: 5px;
        padding-bottom: 0;
    }

    img.imgVignettesColumn
    {
        width: 40%;
    }

    /* SECTION ACTIVITE */


    .vignetteGalerie
    {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }

    img.activitesImg, img.activitesImgSmall
    {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    h3.titresVignetteGalerie
    {
        padding: 10%;
    }

    .descriptionText
    {
        width: 60%;
    }

    .footerContainer
    {
        width: 95%;
        display: flex;
        flex-flow: column nowrap;
    }

    .footerElement
    {
        width: auto;
        margin: 25px 0;
    }
}


/* ____________________ */
/* ==================== */
/* RESPONSIVE TABLETTE  */
/* ==================== */
/* ____________________ */


@media screen and (max-width: 992px)
{

    /* SWITCH RECHERCHE TEXTE TO ICON */
    .buttonSearch i
    {
        display: block;
    }

    .textHidden
    {
        display: none;
    }

/*_____SEARCH MOBILE_____*/

.buttonSearch
{
    border-radius: 15px;
    margin-left: -12px;
}

/*_____________________________*/
/*_____________________________*/
/*          TABLETTE           */
/*      SECTION HEBERGEMENT    */
/*_____________________________*/
/*_____________________________*/

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 0 15px;
        background-color: #F2F2F2;
    }

    .hebergements
    {
        width: 100%;
        padding: 0;
        border-radius: 0%;
        background-color: #FFFFFF;
    }

    .popularity
    {
        width: 100%;
        border-radius: 0%;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .marginRight
    {
        margin-right: 0;
    }

    .galerie
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .vignettes
    {
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 10px #afafaf;
    }

    .imgVignettes
    {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 130px;
        object-fit: cover;
    }

    .galerieColumn
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .vignettesColumn
    {
        width: 100%;
        margin: 10px 0;
        margin: 0 0 25px 0;
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-flow: row nowrap;
        box-shadow: 0 1px 10px #afafaf;
    }

    .imgVignettesColumn
    {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 35%;
        height: 130px;
        padding: 4px;
        object-fit: cover;
    }

    .switchBlue
    {
        color: #0065FC;
    }

    .switchGrey
    {
        color: #e0e0e0;
    }

/*_____________________________*/
/*_____________________________*/
/*          TABLETTE           */
/*      SECTION ACTIVITIE      */
/*_____________________________*/
/*_____________________________*/

    .galerieActivities
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 0%;
        background-color: #ffffff;
    }

    .columnGalerie
    {
        width: 90%;
    }
}