html
{
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
}

header, body
{
    background-color: #FFFFFF;
}

header, main, footer
{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/*_____________________________*/
/*_____________________________*/
/*         DESKTOP 1ST         */
/*   GESTION TEXTES & TITRES   */
/*_____________________________*/
/*_____________________________*/


p, a
{
    color: black;
    font-size: 16px;
}

.recherche p
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
}*

h2
{
    margin: 0;
}

h3
{
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.vignetteGalerie h3
{
    padding: 15px 0 0 15px;
}

.marginZero
{
    margin: 0;
}

.marginLine
{
    margin-bottom: 25px;
}

.marginLineMid
{
    margin-bottom: 15px;
}


.paddingSpace
{
    padding: 0 20px 0 0;
}

.paddingSides
{
    padding: 10px;
}

.fontBold
{
    font-weight: bold;
}

.linkBlue:hover
{
    color: #0065FC;
}

/*_____________________________*/
/*_____________________________*/
/*          DESKTOP 1ST        */
/*            HEADER           */
/*_____________________________*/
/*_____________________________*/

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

#logo
{
    width: 120px;
}

nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
}

.navButton
{
    height: 20px;
    width: 150px;
    padding: 19px 5px;
    text-align: center;
}

li.navButton:hover
{
    border-top: #0065FC 2px solid;
}

/*_____________________________*/
/*_____________________________*/
/*          DESKTOP 1ST        */
/*      SECTION RECHERCHE      */
/*_____________________________*/
/*_____________________________*/

#recherche
{
    margin: 30px 15px 30px 15px;
}

/* SEARCH BAR */

.search
{
    display: flex;
    justify-content: left;
    align-items: center;
}

.searchBar
{
    font-family: 'Raleway', sans-serif;
    padding: 0 5px 0 5px;
}

.iconMap
{
    border: #F2F2F2 2px solid;
    background-color: #F2F2F2;
    padding: 15px 15px 15px 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}

.searchMap
{

    border-top: 1px #F2F2F2;
    border-bottom: 1px #F2F2F2;
    padding: 15px 0px 15px 0px;
    font: bold;
}

input
{
    border: none;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    padding: 15px 0px 15px 5px;
    font-weight: bold;
    font-size: 16px;
}

.buttonSearch
{
    background-color: #0065FC;
    border: #0065FC 2px solid;
    color: #F2F2F2;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttonSearch i
{
    display: none;
}

.iconHidden
{
    display: none;
}

.textHidden
{
    display: contents;
}

/* Infobulle */

.infobulle
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.infobulleIcon
{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.buttonInfoBulle
{
    border: 2px #F2F2F2 solid;
    background-color: #FFFFFF;
    height: 20px; 
    width: 20px;
    border-radius: 50px;
    padding: 2px 0 0 0;
}

.BlueInfobulle
{
    color: #0065FC;
    text-align: center;
    padding: 3px;
}

/*_____________________________*/
/*_____________________________*/
/*          DESKTOP 1ST        */
/*        SECTION FILTRES      */
/*_____________________________*/
/*_____________________________*/


/* BUTON FILTRE */
.testFiltre
{
    width: fit-content;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px #e0e0e0 solid;
    border-radius: 45px;
    margin: 10px 10px 10px 0;
}

.testFiltre:hover
{
    cursor: pointer;
    color: #0065FC;
    background: #DEEBFF;
    border: 2px #DEEBFF solid;
}

.testFiltreIcon
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    border: 2px #DEEBFF solid;
    margin: -2px;
}

.testFiltreText
{
    font-weight: bold;
    padding: 0 10px;
}
/* END FILTRE */

.filters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
}

.filtersZone
{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
}


/*_____________________________*/
/*_____________________________*/
/*          DESKTOP 1ST        */
/*      SECTION HEBERGEMENT    */
/*_____________________________*/
/*_____________________________*/

#hebergement
{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hebergementResult
{
    width: 68%;
    padding: 40px;
    display: flex;
    flex-flow: column wrap;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.sectionTitle
{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowPop
{
    border-left: 3px black solid;
    border-bottom: 3px black solid;
    padding: 1px;
}

.sectionGallery
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.galleryCard
{
    width: 31%;
    padding: 3px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #afafaf 0 1px 10px;
    display: flex;
    flex-flow: column wrap;
}

.galleryCard:hover
{
    box-shadow: 0 1px 10px #0065FC;
    color: #0065fc;
    cursor: pointer;
}

.cardPicture
{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cardDescription
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardDescription p
{
    font-size: 14px;
    margin: 10px 0;
}

.cardDescription h3
{
    font-size: 17px;
}

.sectionText
{
    margin: 10px 0;
}

.sectionText a
{
    font-size: 19px;
}

.hebergementRecommand
{
    margin-left: 40px;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
}

.sectionGalleryPop
{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.galleryCardPop
{
    padding: 3px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #afafaf 0 1px 10px;
}

.galleryCardPop:hover
{
    box-shadow: 0 1px 10px #0065FC;
    color: #0065fc;
    cursor: pointer;
}

div.cardPicturePop
{
    height: 140px;
}

img.cardPicturePop
{
    width: 170px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.cardDetail
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardDescriptionPop
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardDescriptionPop p
{
    font-size: 14px;
    margin: 10px 0 0 0;
}

.cardDescriptionPop h3
{
    font-size: 17px;
}

.cardNotation
{
    display: flex;
    padding: 0 0 10px 10px;
}

.switchBlue
{
    color: #0065FC;
}

.switchGrey
{
    color: #e0e0e0;
}

/*_____________________________*/
/*_____________________________*/
/*          DESKTOP 1ST        */
/*      SECTION ACTIVITES      */
/*_____________________________*/
/*_____________________________*/

.activities
{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 50px;
}


.galerieActivities
{   
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.columnGalerie
{   
    display: flex;
    flex-direction: column;
}

.columnSplitGalerie
{
    height: 50%;
}

.vignetteGalerie
{
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 10px #afafaf;
}

.vignetteGalerie:hover
{   
    box-shadow: 0 1px 10px #0065FC;
    color: #0065fc;
    cursor: pointer;
}

.vignetteGalerie h3
{
    font-size: 14px;
}

img.activitesImg
{
    height: 92%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

img.activitesImgSmall
{
    height: 84%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.marginTop
{
    margin-top: 0;
}

.marginRight
{
    
    margin-right: 25px;
}

/*_____________________________*/
/*_____________________________*/
/*         DESKTOP 1ST         */
/*        SECTION FOOTER       */
/*_____________________________*/
/*_____________________________*/

footer
{
    background-color: #F2F2F2;
    padding: 2%;
}

.footerContainer
{
    width: 95%;
    display: flex;
}

.footerElement
{
    width: 35%;
    margin-right: 10%;
}

.footerUl
{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 22px 0 0 0;
}

.footerLi
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.footerNoPadding
{
    padding: 0;
}

.footerLink:hover
{
    color: #0065FC;
}

/* ____________________ */
/* ==================== */
/* RESPONSIVE TABLETTE  */
/* ==================== */
/* ____________________ */


@media screen and (max-width: 992px)
{

    /*_____________________________*/
    /*_____________________________*/
    /*            TABLETTE         */
    /*      SECTION HEBERGEMENT    */
    /*_____________________________*/
    /*_____________________________*/

    #hebergement
    {
        flex-direction: column;
    }

    .hebergementRecommand
    {
        width: auto;
        margin: 0;
        padding: 0 25px;
        border-radius: 0;
    }

    .sectionTitle h2
    {
        margin: 0;

    }

    .sectionTitle
    {
        padding: 15px 0 0 0;
        display: flex;
        align-items: center;
    }

    .galleryCardPop
    {
        margin-bottom: 15px;
    }

    .hebergementResult
    {
        width: auto;
        margin: 25px 0 0 0;
        padding: 0 25px;
        border-radius: 0;
        background-color: #FFFFFF;
    }



    /*_____________________________*/
    /*_____________________________*/
    /*          TABLETTE           */
    /*      SECTION ACTIVITES      */
    /*_____________________________*/
    /*_____________________________*/

    #activities
    {
        padding: 0 15px;
    }

    .marginRight
    {
        margin: 0;
    }

    .marginLine.columnSplitGalerie
    {
        margin-bottom: 0;
    }

    .marginTop
    {
        margin-top: 0;
    }

    .galerieActivities
    {
        flex-direction: column;
        width: 100%;
    }

    .vignetteGalerie
    {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }

    img.activitesImg, img.activitesImgSmall
    {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    h3.titresVignetteGalerie
    {
        padding: 10%;
    }

    .descriptionText
    {
        width: 60%;
    }

}



/* ____________________ */
/* ==================== */
/*   RESPONSIVE MOBILE  */
/* ==================== */
/* ____________________ */

@media screen and (max-width: 768px)
{
    /*_____________________________*/
    /*_____________________________*/
    /*            MOBILE           */
    /*        GLOBAL SETTINGS      */
    /*_____________________________*/
    /*_____________________________*/

    html, body
    {
        width: 100%;
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }

    /*_____________________________*/
    /*_____________________________*/
    /*            MOBILE           */
    /*            HEADER           */
    /*_____________________________*/
    /*_____________________________*/

    h1
    {
        padding-left: 30px;
    }

    nav
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin: 0;
    }

    nav ul 
    {
        justify-content: space-between;
    }

    
    .navBar
    {
        width: 100%;
        padding: 0;

    }

    li.navButton
    {
        border-bottom: #F2F2F2 2px solid;
        width: 100%;
        padding: 10px 5px;
    }

    li.navButton:hover
    {
        border-top: none;
        border-bottom: #0065FC 2px solid;
    }

    li.navButton:focus
    {
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
    }

    h2
    {
        margin: 25px 0 0 0;
    }


    /*_____________________________*/
    /*_____________________________*/
    /*            MOBILE           */
    /*          RECHERCHE          */
    /*_____________________________*/
    /*_____________________________*/

    /* SWITCH RECHERCHE TEXTE TO ICON */

    .buttonSearch i
    {
        display: block;
    }

    .textHidden
    {
        display: none;
    }

    /* --- MAIN MOBILE --- */

    #recherche
    {
        margin: 0 15px 30px 15px;
    }

    .recherche
    {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    /*_____________________________*/
    /*_____________________________*/
    /*            MOBILE           */
    /*            FILTERS          */
    /*_____________________________*/
    /*_____________________________*/

    .filters
    {
        margin-top: 0;
    }

    .testFiltre:focus-visible
    {
        cursor: pointer;
        color: #0065FC;
        background: #DEEBFF;
        border: 2px #DEEBFF solid;
    }

    /*_____________________________*/
    /*_____________________________*/
    /*            MOBILE           */
    /*      SECTION HEBERGEMENT    */
    /*_____________________________*/
    /*_____________________________*/

    #hebergement
    {
        flex-direction: column-reverse;
        margin-bottom: 15px;
    }

    .hebergementRecommand
    {
        width: auto;
        margin: 0;
        padding: 0 15px;
        border-radius: 0;
    }

    .sectionTitle h2
    {
        margin: 0;

    }

    .sectionTitle
    {
        padding: 15px 0 0 0;
        display: flex;
        align-items: center;
    }

    .galleryCardPop
    {
        margin-bottom: 15px;
    }

    .hebergementResult
    {
        width: auto;
        margin: 25px 0 0 0;
        padding: 0 15px;
        border-radius: 0;
        background-color: #FFFFFF;
    }

    .sectionGallery
    {
        flex-direction: column;
        width: auto;
    }

    .galleryCard
    {
        width: auto;
        margin-bottom: 15px;
    }

    .galleryCard p
    {
        margin: 5px 0;
    }

    /*_____________________________*/
    /*_____________________________*/
    /*            MOBILE           */
    /*        SECTION ACTIVITE     */
    /*_____________________________*/
    /*_____________________________*/

    .vignetteGalerie
    {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }

    img.activitesImg, img.activitesImgSmall
    {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    h3.titresVignetteGalerie
    {
        padding: 10%;
    }

    .descriptionText
    {
        width: 60%;
    }

    /*_____________________________*/
    /*_____________________________*/
    /*          MOBILE             */
    /*        SECTION FOOTER       */
    /*_____________________________*/
    /*_____________________________*/

    .footerContainer
    {
        width: 95%;
        display: flex;
        flex-flow: column nowrap;
    }

    .footerElement
    {
        width: auto;
        margin: 25px 0;
    }
}